.tag-main-block {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #296c88 20%, #3d895e 100%);
    padding: 10px;
    border-radius: 9px;
    display: flex;
    align-items: center;
}

.tag-desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.65rem;
    color: #fff;
}