.btn-style {
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #0958A5;
    border: 1px solid #0958A5;
    display: flex;
    align-items: center;
}

.icon {
    transform: translateY(4px);
    margin-left: 8px;
}