.main-bloc {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
}

.main-bloc .first-side {
    position: relative;
    width: 100%;
    height: 7.625rem;
}

.main-bloc .tag-bloc {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 8.68rem;
    height: 1.75rem;
}

.main-bloc .second-bloc {
    margin: 11px 11px 0 11px;
}

.main-bloc .second-bloc .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
}

.main-bloc .second-bloc .desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 400;
    margin-top: 3px;
}

.main-bloc .second-bloc .last-bloc {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 11px;
}

.main-bloc .second-bloc .last-bloc .price-style {
    padding: 7px;
    border-radius: 8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.65rem;
    color: #0958A5;
    background: #cedfec;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.main-bloc .second-bloc .last-bloc .concree-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7625rem;
}